body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 5px;
}